*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    /* background:#1d2d44; */
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
} 
/* =========================
   RESET
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    color: #29313b;
}


/* =========================
   HEADER
========================= */

.header {
    height: 82px;
    width: 100%;
    background: #fff;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 8%;

    position: relative;
    z-index: 1000;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}


/* =========================
   LOGO
========================= */

.logo {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: -1px;
}

.logo span {
    color: #29313b;
}

.logo strong {
    color: #f4513b;
}


/* =========================
   CHECKBOX
========================= */

#menu-toggle {
    display: none;
}


/* =========================
   HAMBURGER
========================= */

.menu-icon {
    width: 30px;
    height: 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    cursor: pointer;
}

.menu-icon span {
    display: block;
    width: 30px;
    height: 2px;

    background: #222;

    transition: 0.3s ease;
}


/* =========================
   MENU
========================= */

.menu {
    position: absolute;

    top: 82px;
    right: 8%;

    width: 540px;

    background: #fff;

    display: none;
    flex-direction: column;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.menu a {
    height: 51px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    color: #29313b;

    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;

    border-bottom: 1px solid #eeeeee;

    transition: 0.3s;
}

.menu a:hover,
.menu a.active {
    color: #f4513b;
}


/* =========================
   SIGN UP
========================= */

.menu .signup {
    height: 50px;

    background: #f4513b;
    color: white;

    font-weight: bold;

    border: none;
}

.menu .signup:hover {
    background: #e6422d;
    color: white;
}


/* =========================
   OUVERTURE DU MENU
========================= */

#menu-toggle:checked ~ .menu {
    display: flex;
}


/* =========================
   TRANSFORMATION HAMBURGER
   EN X
========================= */

#menu-toggle:checked ~ .menu-icon span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 8px);
}

#menu-toggle:checked ~ .menu-icon span:nth-child(2) {
    opacity: 0;
}

#menu-toggle:checked ~ .menu-icon span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -8px);
}


/* =========================
   CONTENU
========================= */

.hero {
    max-width: 900px;
    margin: 100px auto;
    padding: 30px;
    text-align: center;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero p {
    color: #777;
    line-height: 1.7;
}


/* =========================
   RESPONSIVE
========================= */

@media (max-width: 768px) {

    .header {
        height: 82px;
        padding: 0 30px;
    }

    .logo {
        font-size: 26px;
    }

    .menu {
        top: 82px;
        left: 30px;
        right: 30px;
        width: auto;
    }

}


/* PETITS ÉCRANS */

@media (max-width: 480px) {

    .header {
        padding: 0 20px;
    }

    .logo {
        font-size: 23px;
    }

    .menu {
        left: 20px;
        right: 20px;
    }

    .menu a {
        height: 50px;
    }

}
/* .hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(35,45,57,0.8));
}
.back-video {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
 } */

/* .accueil {
    height: 100vh;
    width: 100%;
    background-color: #7a7a7a;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.accueil .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
} */

h6 {
font-size: 1.125rem;
margin-top: 0;
text-transform: uppercase;
font-weight: 800;
letter-spacing: 0.5px;
color: #fff;
}

/* .accueil .hero h2 {
    font-size: 5.25rem;
    font-weight: 800;
    margin-top: 1,5625rem;
    margin-bottom: 1.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
} */

.btn {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    background-color: #ed563b;
    padding: 12px 20px;
    border: none;
    text-transform: uppercase;

}



/* .classes{
    max-width:1200px;
    margin:auto;
    padding:80px 20px;
}

.section-title{
    text-align:center;
    margin-bottom:70px;
}

.section-title h2{
    font-size:42px;
    color:#1f2947;
}

.section-title span{
    color:#f45d3d;
}

.section-title p{
    color:#777;
    margin-top:20px;
} */

/* Layout principal */
/* .classes-container{
    display:grid;
    grid-template-columns:350px 1fr;
    gap:60px;
} */

/* Menu gauche */
/* .class-item{
    display:flex;
    align-items:center;
    gap:20px;

    background:#fff;
    padding:30px;
    margin-bottom:25px;

    border-radius:5px;
    box-shadow:0 0 15px rgba(0,0,0,.08);
}

.class-item span{
    font-size:32px;
}

.class-item h3{
    font-size:28px;
    color:#1f2947;
}

.class-item.active h3{
    color:#f45d3d;
}

.all-btn{
    display:block;
    text-align:center;
    background:#f45d3d;
    color:#fff;
    text-decoration:none;

    padding:22px;
    border-radius:5px;
    font-size:24px;
    font-weight:bold;
} */

/* Contenu droite */
/* .class-content img{
    width:100%;
    border-radius:5px;
    display:block;
}

.class-content h2{
    margin:30px 0 20px;
    font-size:42px;
    color:#1f2947;
}

.class-content p{
    color:#777;
    line-height:1.8;
    margin-bottom:30px;
}

.schedule-btn{
    display:inline-block;
    background:#f45d3d;
    color:#fff;
    text-decoration:none;
    padding:15px 25px;
    font-weight:bold;
} */

/* .contact{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: url('https://templatemo.com/templates/templatemo_548_training_studio/assets/images/contact-bg.jpg')center /cover no-repeat;
    
}

.contact-form{
  
    max-width:850px;
    background: #fff;
    padding:40px;
    border-radius:4px;
}

.row{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:0px 30px;
    margin-bottom:30px;
}

.contact-form input,
.contact-form textarea{
    width:100%;
    border:1px solid #ddd;
    padding:15px;
    font-size:16px;
    outline:none;
}

.contact-form input{
    height:50px;
    margin-bottom:30px;
}

.contact-form textarea{
    height:180px;
    resize:none;
    margin-bottom:30px;
}

.contact-form button{
    background:#f45d3d;
    color:#fff;
    border:none;
    padding:16px 30px;
    font-size:14px;
    font-weight:600;
    cursor:pointer;
    text-transform:uppercase;
}

.contact-form button:hover{
    opacity:.9;
} */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu {
    width: 80%;
    margin-inline: auto;
}
li {
    list-style: none;
}

.menu li {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.menu li .image{
    grid-column: 1;
}
.menu li .info {
    grid-column: 2 / span 3;
} */

/* avec ul  */
 /* .course-list{
    list-style:none;
    padding:0;
    margin:0;

    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:50px 80px;
}

.course-item{
    display:flex;
    gap:25px;
    align-items:flex-start;
} */

/* .icon{
    width:100px;
    height:100px;
    background:#f45d3d;
    color:#fff;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:40px;
    border-radius:5px;
    flex-shrink:0;
} */

/* .info h4{
    margin:0 0 10px;
    font-size:30px;
    color:#1e2746;
}

.info p{
    color:#666;
    line-height:1.7;
    margin-bottom:10px;
}

.info a{
    text-decoration:none;
    color:#f45d3d;
    font-weight:700;
} */

/* sans ul */
/* .course-list{
    list-style:none;
    padding:0;
    margin:0;

    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:50px 80px;
}

.course-item{
    display:flex;
    gap:25px;
    align-items:flex-start;
}

.icon{
    width:100px;
    height:100px;
    background:#f45d3d;
    color:#fff;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:40px;
    border-radius:5px;
    flex-shrink:0;
}

.info h3{
    margin:0 0 10px;
    font-size:30px;
    color:#1e2746;
}

.info p{
    color:#666;
    line-height:1.7;
    margin-bottom:10px;
}

.info a{
    text-decoration:none;
    color:#f45d3d;
    font-weight:700;
} */